/* your css here */
:root {
    --color1: hsl(182, 20%, 31.4%);
    --color2: hsl(42, 26.5%, 90.4%);
    --link-color: hsl(218, 21.3%, 29.4%);
    --info-margin: 60px;
}

body {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-variant-numeric: ordinal;
    margin: 0;
    background-color: var(--color2);
    font-size: 18px;
}

.index-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}


#picture {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 2em;
}

#picture img {
    width: 100%;
    border-radius: 50%;
}

#name {
    font-size: 30px;
    color: var(--color1);
}


.cv-section {
    display: grid;
    grid-template-columns: 30% 70%;
}

.cv-section h2 {
    margin-top: 0;
}

.caps {
    font-size: 0.9em;
}


h2.subheading {
    grid-column-start: 1;
    grid-column-end: 2;
    color: var(--color1);
}

ul.listing {
    grid-column-start: 2;
    grid-column-end: 3;
    list-style: none;
}

.listing h3 {
    margin-top: 0;
}

nav {
    margin: 0.5em 2.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    display: inline-block;
    text-decoration: none;
    margin: 1em;
    font-size: 19px;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: var(--color1);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a.contact {
    padding: 0.5em 1em;
    border: 0.1em solid var(--color1);
}

span#company > a {
    color: var(--color1);
    font-weight: bold;
}

.date {
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

.tasks {
    padding: 0;
    list-style: none;
    margin-bottom: 2em;
}

.tasks li {
    padding-bottom: 0.5em;
}

article.app {
    margin-bottom: 4em;
}
section.content {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
                        "description picture";
}

section.description {
    grid-area: description;
}

section.description li {
    margin: 0em 0.5em 0.5em 0em;
}

h2, h1 {
    color: var(--color1);
    font-size: 30px;
    margin-bottom: 0.5em;
}

article.app section.media {
    grid-area: picture;
    border-radius: 1em;
    margin-top: 1em;
}

article.phone section.media {
    display: flex;
    justify-content: space-evenly;
}

article.web img {
    width: 95%;
    height: 90%;
    margin: 2.5%;
}

article.app img {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.3));
    /* object-fit: contain; */
    object-position: 0% 0%;
}

article.phone img {
    width: 40%;
    height: 90%;
    margin: 2.5%;
}

section.description ul {
    margin-bottom: 3em;
}



@media (max-width: 900px), only screen and (max-device-width: 900px) {
    body {
        font-size: 15px;
    }
    .cv-section {
        display: block;
    }

    section.container, div.container, header nav {
        margin: 10px;
    }

    nav a {
        font-size: 14px;
        margin: 0 2.5em 0 0;
    }

    header nav {
        margin: 1em 12px;
    }

    nav a.contact {
        margin-right: 0;
    }

    

    ul.listing { 
        padding-left: 0;
    }

    section.content {
        display: block;
    }

    section.description ul {
        margin-bottom: 0;
    }

    section.description {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        grid-template-areas: "features features" 
                              "tech code";
        grid-gap: 5%;
    }
    section.description div.features {
        grid-area: features;
    }

    section.description div.tech {
        grid-area: tech;
    }

    section.description div.code {
        grid-area: code;
    }
}

@media (max-width: 600px), only screen and (max-device-width: 600px) {
    .index-container {
        display: block;
    }

    #bio {
        text-align: center;
    }

    a.fab:last-child {
        margin: 0;
    }
}


.container {
    margin: var(--info-margin);
}

form > label {
    display: block;
    margin: 1em 0em;
}

textarea, input.subject {
    width: 100%;
}

input[type="submit"] {
    margin-top: 1em;
    width: 10em;
    height: 3em;
}

a.fab {
    color: var(--color1);
    margin-right: 0.75em;
}

section.description a.fab {
    margin-left: 1.2em;
}

@page { 
    size: letter landscape; 
    margin: 0.8in 1in;
}

@media print {
    body { 
        font-size: 12px
    }

    nav {
        display: none
    }

    section.media img { 
        break-inside: avoid-page;
    }

    article.phone img {
        width: 30%;
    }

    section.description {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 100%;
        grid-template-areas: "features tech";
        grid-gap: 5%;
    }

    div.code {
        display: none
    }

}